body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: #050220;
  color: #bababa;
}

header {
  font-size: 60px;
  padding: 1%;
}

main.background {
  margin-bottom: 2%;
  height: 820px;
  width: 100%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("../images/NightLandscape.jpg");
  border: 5px solid gold;
  display: flex;
  flex-wrap: wrap;
}

.transparent {
  margin: 2%;
  background-color: black;
  border: 2px solid grey;
  opacity: 0.8;
}

aside {
  flex: 3;
  padding: 5%;
}

aside h2 {
  font-size: 50px;
}

aside p {
  line-height: 2;
}

aside section {
  display: flex;
  margin-top: 15%;
}

aside img {
  width: 200px;
  border-radius: 10%;
}

aside ul {
  margin-left: 5%;
  line-height: 2.5;
}

aside h3 {
  font-size: 25px;
}

aside li {
  font-weight: bold;
}

a {
  font-weight: 100;
  color: #bababa;
  text-decoration: none;
}

nav {
  flex: 1;
  line-height: 5;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article .project {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

article .project:hover {
  box-shadow: inset 0px 0px 8px rgba(255, 0, 0, 0.25), 0 0 15px rgba(255, 0, 0, 0.25);
}


article img {
  width: 500px;
}